<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--让spring 帮忙创建userDao 对象的实例-->
    <bean id="userDao" class="com.Ioc.UserDaoImpl"/>
    <!--创建UserDao2实例-->
    <bean id="userDao2" class="com.Ioc.UserDao2Impl"/>
    <!--userService实例-->
    <bean id="userService" class="com.Ioc.UserServiceImpl">
        <!--将userDao实例注入到userService userDao的属性中-->
        <property name="userDao" ref="userDao"/>
        <!--ref="" 里面的值是bean id=""相对应-->
        <property name="userDao2" ref="userDao2"/>
        <!--name="userDao2" 是本类中setUserDao2函数对应的值-->
        <property name="userDao31" ref="userDao2"/>
    </bean>
</beans>
